@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

body {
  margin: 0;
  padding: 0;
} 

.game-area-canvas {
  /*background-color: papayawhip;*/
  background-image: url("../images/background-game-area.png");
  background-size: cover;
  margin: auto;
}